<nav>
    <div>
        <ul>
            <li><a href ="/"> <b>Blogs</b> </a></li> 
            <li><a href ="/about"><b>About</b></a></li>
            <li><a href = "/blogs/create"><b>  New blogs </b> </a> </li>
        </ul>
    </div>
</nav>