<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>

<body>
<div class ="site-title">
    <a href ="/"><h1><u>Blog's Pond </u></h1></a>
</div>
<%- include('./partials/nav') %>
<div class= "blogs content">
    <h2>All blogs </h2>
    <p>Hey there! this is my first site ever ,in it you can read the blogs added by the people outside,</p>
    <p>and also u can write your own blog and make it public. 
    </p>
</div>

</body>
<%- include('./partials/footer.ejs') %>

</html>